@import url('https://fonts.googleapis.com/css?family=Asap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Asap;
}
body {
    background-color: #3e4e6d;
}
header {
    background-color: white;
    text-align: center;
    height: 100px;  
}
header h1 {
    position: relative;
    top: 25%;
}
#game {
    margin: 30px;
}
#game-box {
    width: 660px;
    margin: auto;
}
.row {
    text-align: center;
}
.circle {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    transition: all 0.3s ease; 
}
.circle:hover {
    background-color: white;
}
#restart {
    text-align: center;
    margin: 50px;
}
#restart-text {
    padding: 25px 50px;
    background-color: white;
    border-radius: 5%;
    font-weight: bold;
    cursor: pointer;
}
